.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container .preview-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
}

.form-container .submit-button {
    margin-top: 20px;
}

.custom-checkbox-small .custom-control-input {
    width: 1rem;
    height: 1rem;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox-small .custom-control-label {
    margin-left: 0.5rem;
    display: flex;
    justify-content: end;
}