.reservation-table {
    border-collapse: collapse;
    width: 100%;
}

.reservation-table th,
.reservation-table td {
    border: 1px solid white;
    /* Add white border */
    padding: 8px;
}

.-table th {
    background-color: lightgray;
    /* Add light gray background */
}

.reservation-table td {
    background-color: rgb(239, 238, 238);

}

/* .confirmed-row {
    background-color: green;
    color: rgb(47, 207, 15);
} */