.bg-custom {
    background-color: #4DADB1;
}

footer {
    color: white;
    margin-top: 50px;
}

ul.list-unstyled li a {
    color: white;
    text-decoration: none;
}

ul.list-unstyled li a:hover {
    text-decoration: none;
}

h5 {
    color: white;
}